<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bookmark Manager</title>
</head>
<body>
  <h1>Bookmark Manager</h1>

  <table>
    <tr>
      <th>Name</th>
    </tr>
    <% @bookmarks.each do |bmark| %>
      <tr>
        <td><a href=<%=bmark.url.inspect%>><%=bmark.title%></a></td>
        <td>
          <div id='<%=bmark.id%>'>
            <form action='/bookmarks/delete' method='post'>
              <input type='hidden' name='id' value=<%=bmark.id%>>
              <input type=submit value='Delete'>
            </form>
            <form action='/bookmarks/update' method='get'>
              <input type='hidden' name='id' value=<%=bmark.id%>>
              <input type=submit value='Edit'>
            </form>
          </div>
      </tr>
    <% end %>
  </table>

  <form action='/bookmarks/add' method='post'>
    <input type='text' name='title' placeholder='Title' required>
    <input type='text' name='url' placeholder='URL' required>
    <br>
    <input type='submit' value='Save'>
  </form>
</body>
</html>
